#title {
	background-color: #ff4c68;
	color: #fff
}

body {
	font-family: 'Montserrat', sans-serif;
}


h1 {
	line-height: 1.5;
	font-size: 3em;
	font-family: 'Montserrat-Heavy', sans-serif;
}

h2 {
	line-height: 1.5;
	font-size: 3em;
	font-family: 'Montserrat-Heavy', sans-serif;
}

h3 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 1.5rem;
}

p {
	color: #747171;
}


.icon {
	color: #d49292;
}

.icon:hover {
	color: #ff4c68;
}

/* nav bar */

.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: "ubuntu", sans-serif;
	font-size: 2.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0 20px;
}

.nav-link {
	font-weight: lighter;
	font-size: 1.2rem;
}

/* body */

.container-fluid {
	padding-left: 3% 15% 7%;
}

.download-button {
	margin: 5% 3% 5% 0;
}

title-image {
	width: 60%;
}

.rotated {
	transform: rotate(25deg);
}

/* title */

#title {
	padding: 0 7%;
	max-height: 800px
}

@media (max-width: 1028px) {
	.title-image {
		position: static;
		margin: 10%;
	}

	.rotated {
		transform: rotate(0deg);
	}

	#title {
		text-align: center;
	}
}

/* features */

#features {
	background-color: white;
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 10% 15%;
}

.vertical-center {
	display: flex;
	align-items: top;
}

.feature-box {
	max-width: 350px;
	margin: auto auto;
	padding: 5%;
}

/* testimonials */

#testimonials {
	text-align: center;
	background-color: #d49292;
	color: white;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
}

.carousel-item {
	padding: 7% 15%;

}

/* press */

#press {
	padding-bottom: 3%;
	text-align: center;
	background-color: #d49292;
	color: white;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

/* pricing */
.pricing-column {
	padding: 3% 2%;
}

#pricing {
	text-align: center;
	padding: 100px;
}
